
html, body {
  height: 100%;
  background: #fff;
  background-color: #333;
}

#logo {
  height: 100px;
  width: auto;
  margin-top: 10%;
}

#logo-row {
  text-align: center;
  margin-bottom: -30px;
}

h1 {
  margin: 0 0 5px 0;
}

h2 {
  margin-top: 0px;
}

.order-item {
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid #a6a6a6;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 10px;
}

#menu-column h1, #orders-column h1, #orders-column h4, #order-confirmation-column h2, #order-confirmation-column h4 {
  text-align: center;
}

#order-name-input {
  height: 50px;
  font-size: 1.25em;
  color: #555459;
  border-radius: 10px;
  border: 1px solid #ccc;
}


i:hover {
  cursor: pointer;
}


.glyphicon-remove-sign {
  float: right;
  font-size: 1.5em;
  color: red;
}

#add-order-button {
  width: 100%;
  margin-top: 30px;
}

#submit-orders-button {
  width: 100%;
  display: none;
}

#order-confirmation-row {
  display: none;
  height: inherit;
}

#order-confirmation-column {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin-top: 100px;
}

#order-more-button {
  width: 100%;
}

#orders-list {
  padding: 0px;
}

.container, #row1 {height: inherit;}
.initial-hidden {display: none;}

#login {
  position: relative;
  margin-top: -37px;
  top: 50%;
}

#landing {
  background-color: #fff;
}

.form-bg {
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
}

#sign-in {
  background-color: #3fa9f5;
}

#landing {
  display: block;
}

#fix-left {
  background-color: #fff;
  line-height: 50px;
  padding-left: 10px;
  width: 70.5%;
  margin-right: 1%;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #ccc;
  white-space: nowrap;
	overflow: hidden;
}

#fix-right {
  display: inline-block;
  float: right;
  width: 28.5%;
}

.input-box {
  height: 50px;
  font-size: 1.25em;
  color: #555459;
}

.error-warning {
  box-shadow: 0px 0px 8px 1px red;
}

#submit-fix {
  width: 100%;
  border: none;
}

#menu-page-row {
  display: none;
}

.submit {
  border-radius: 5px;
  background-color: #56B68B;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.25em;
  cursor: pointer;
  line-height: 50px;
  height: 50px;
  border: none;
  letter-spacing: 0.5px;
}

#menu-page-row {
  margin-top: 100px;
}

.width-fix {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

#menu-column {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
}

#orders-column {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
}

#row1 {
  height: 60%;
}

#landing {
  margin-top: -40px;
}
