.order {
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid #a6a6a6;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 10px;
}

i:hover {
  cursor: pointer;
}

.glyphicon-remove-sign {
  float: right;
  font-size: 1.5em;
  color: red;
}
