.order {
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid #a6a6a6;
  padding: 10px;
  margin-bottom: 20px;
  list-style: none;
  border-radius: 10px;
}

#menu-column > h1, #orders-column > h1, #orders-column > h4, #order-confirmation-column > h2, #order-confirmation-column > h4 {
  text-align: center;
}

#order-name-group {
  text-align: center;
}

i:hover {
  cursor: pointer;
}

#menu-column {
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid #a6a6a6;
  padding: 10px;
  border-radius: 10px;
}

#orders-column {
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid #a6a6a6;
  padding: 10px;
  border-radius: 10px;
}

.glyphicon-remove-sign {
  float: right;
  font-size: 1.5em;
  color: red;
}

#add-order-button {
  width: 100%;
}

#submit-orders-button {
  width: 100%;
  display: none;
}

#order-confirmation-row {
  display: none;
}
